In [1]:
! pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in /opt/anaconda3/lib/python3.9/site-packages (8.0.30)
Requirement already satisfied: protobuf<=3.20.1,>=3.11.0 in /opt/anaconda3/lib/python3.9/site-packages (from mysql-connector-python) (3.19.1)

In [2]:
from mysql.connector import connect
from getpass import getpass
import pandas as pd

In [3]:
db = connect(
        host="localhost",
        user="root",
        passwd=getpass("Enter password"),
        database="sakila"
        )

Enter password········

# Cursor

We need a cursor to execute sql statements

In [4]:
cursor = db.cursor()

In [5]:
query_may = "select customer_id, count(*) from rentals_may group by customer_id"
query_june = "select customer_id, count(*) from rentals_june group by customer_id"

### query may

In [6]:
cursor.execute(query_may)

In [7]:
rentals_may = cursor.fetchall()

In [8]:
pd.DataFrame(rentals_may)

       0  1
0    130  2
1    459  1
2    408  3
3    333  1
4    222  5
..   ... ..
515  191  2
516  351  1
517   10  1
518  136  1
519   61  1

[520 rows x 2 columns]

In [9]:
df_may = pd.read_sql_query(query_may, db) #Don't know why it is not working

/opt/anaconda3/lib/python3.9/site-packages/pandas/io/sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

### query june

In [10]:
cursor.execute(query_june)

In [11]:
rentals_june = cursor.fetchall()

In [13]:
pd.DataFrame(rentals_june)

       0  1
0    416  5
1    516  6
2    239  5
3    285  3
4    310  6
..   ... ..
585  412  1
586  335  1
587  226  2
588   22  1
589  126  1

[590 rows x 2 columns]